<html>
    <head>
        <title>Lepton3.5</title>
        <script src="frontend.js"></script>
    </head>
    <body>
        <h1>Lepton3.5 </h1>
        <div align = 'center'>
            <canvas id="leptonCanvas" width="640" height="480" style="border:1px solid #999;">
            </canvas>
            <div id="imageValues"></div><br>
            <button onclick="resetlepton()">Reset Lepton</button>
            <button onclick="leptonStartRecording()">Start Recording</button>
            <button onclick="leptonStopRecording()">Stop Rcording</button>
            <p id="timer">00:00</p>
        </div>
        
        
    </body>
</html>